body {
    margin: 0;
    display: grid;
    place-items: center;
    background-color: rgb(255, 255, 255);
}

.classdiv {
    width: 100vmin;
    height: 35vmin;
}

section {
    background-color: grey;
    display: block;
    width: 100vmin;
    height: auto;
    margin-top: 5vmin;
    margin-left: 10vmin;
    word-wrap: break-word;
    padding: 5vmin;
    font-size: 20px
}

div {
    padding-top: 5vmin;
    padding-left: 5vmin;
}

.envia {
    margin-left: 25vmin;
}

.titulo {
    margin-top: -4vmin;
}

.mensagem {
    margin-left: -4vmin;
    ;
    margin-right: 80vmin;
}
